body{
	color: black;
	background-color: white;
}

.contain{
	margin-top: 55px;
	left: 0px;
}
header{
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial,'sans-serif';
	font-size: 22px;
	position: sticky;
	box-sizing: border-box;
	text-align: center;
	left: 0px;
}
img{
	width: 18rem;
	height: 18rem;
	border-radius: 50%;
}
nav a{
	display: block;
}
.about{
	flex: 1 1 1rem;
	padding: 2%;
}
.row .boxcontainer{
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	flex: 1 1 40rem;
}
.box{
	flex: 1 1 18rem;
	text-align: center;
	padding: 5px;
}
.content{
	flex: 1 1 40rem;
}
form input{
	display: block;
}